.badge {
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}